@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
  @apply min-h-full;
}

body {
  @apply h-full;
  @apply min-h-full;
  @apply bg-primary-900;
}

#root {
  @apply h-full;
  @apply min-h-full;
}

.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(249 250 251 / var(--tw-bg-opacity)) inset !important;
}
